<div class="toolbar-container">
  <div class="status-tabs-wrapper">
    <mat-tab-group class="status-tabs" [mat-stretch-tabs]="false" [disableRipple]="true"
      (selectedIndexChange)="onTabChange($event)">
      <mat-tab label="All"></mat-tab>
      <mat-tab label="To Do"></mat-tab>
      <mat-tab label="In Progress"></mat-tab>
      <mat-tab label="Done"></mat-tab>
    </mat-tab-group>
  </div>

  <div class="toolbar-actions">
    <button mat-stroked-button class="priority-btn" [matMenuTriggerFor]="priorityMenu">
      Priority <mat-icon iconPositionEnd>arrow_drop_down</mat-icon>
    </button>
    <mat-menu #priorityMenu="matMenu">
      <button mat-menu-item (click)="priorityChange.emit('all')">All Priorities</button>
      <button mat-menu-item (click)="priorityChange.emit('high')">High</button>
      <button mat-menu-item (click)="priorityChange.emit('medium')">Medium</button>
      <button mat-menu-item (click)="priorityChange.emit('low')">Low</button>
    </mat-menu>
    <button mat-flat-button color="primary" class="priority-btn" (click)="createTask()">
      <mat-icon>add</mat-icon>
      New Task
    </button>
  </div>
</div>