<section class="sidebar">
  <mat-nav-list class="sidebar-nav">
    <a mat-list-item class="active-nav">
      <img matListItemIcon src="./icons/dashboard.png" />
      <span matListItemTitle>Dashboard</span>
    </a>
    <a mat-list-item>
      <img matListItemIcon src="./icons/tasks.png" />
      <span matListItemTitle>Tasks</span>
    </a>
    <a mat-list-item>
      <img matListItemIcon src="./icons/calendar.png" />
      <span matListItemTitle>Calendar</span>
    </a>
    <a mat-list-item>
      <img matListItemIcon src="./icons/analytics.png" />
      <span matListItemTitle>Analytics</span>
    </a>
    <a mat-list-item>
      <img matListItemIcon src="./icons/team.png" />
      <span matListItemTitle>Team</span>
    </a>
    <a mat-list-item>
      <img matListItemIcon src="./icons/settings.png" />
      <span matListItemTitle>Settings</span>
    </a>
  </mat-nav-list>
  <div class="sidebar-footer">
    <button mat-flat-button color="primary" class="new-task-btn">
      <mat-icon>add</mat-icon>
      New Task
    </button>
  </div>
</section>