.sidebar-header {
  padding: 24px;

  .logo {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 20px;
    font-weight: 600;
    color: var(--mat-sys-primary);
    ;

    mat-icon {
      font-size: 28px;
      height: 28px;
      width: 28px;
    }
  }
}

.sidebar-nav {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 0 !important;
  border-radius: 0 !important;
  --mat-list-active-indicator-shape: 0px !important;

  a[mat-list-item] {
    color: white;
    padding: 8px 16px !important;

    .mat-mdc-list-item-icon {
      margin-inline-start: 0 !important;
      margin-inline-end: 8px !important;
      width: 16px;
      height: 16px;
      object-fit: contain;
    }

    &.active-nav {
      border-radius: 4px;
      background-color: var(--mat-sys-primary);
      --mat-list-list-item-label-text-color: white;
    }
  }

  .nav-spacer {
    margin-top: 32px;
  }
}

.sidebar-footer {
  padding: 52px 0 0;

  .new-task-btn {
    width: 100%;
    border-radius: 8px;
  }
}