.app-root-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}

.app-sidenav-container {
  flex: 1;
  background-color: #f5f7fa;
  min-height: 0;
}

.app-sidebar {
  width: 240px;
  border-right: 1px solid #e0e0e0;
  background: #fff;
  border-radius: 0 !important;
  padding: 24px;
}

.app-toolbar {
  background: #fff !important;
  color: #fff !important;
  border-bottom: 1px solid #e0e0e0;
  box-shadow: none !important;
  z-index: 2;
  padding: 0 80px 0 24px;
  justify-content: space-between;

  @media (max-width: 400px) {
    padding: 0 12px;
  }

  .toolbar-left-side {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  .hamburger-btn {
    display: none;
    color: var(--mat-sys-primary);

    @media (max-width: 768px) {
      display: block;
    }
  }

  .profile-area {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  .logo {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 20px;
    font-weight: 600;
    color: var(--mat-sys-primary);
    margin-right: 24px;

    @media (max-width: 360px) {
      font-size: 16px;
      margin-right: 8px;
    }

    .icon {
      width: 32px;
      height: 32px;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: var(--mat-sys-primary);
      border-radius: 5px;
    }
  }


  .global-search-input {
    width: 400px;
    --mat-form-field-container-height: fit-content;
    --mat-form-field-container-vertical-padding: 8px;
    font-size: 13px;
    line-height: 13px;
    --mat-icon-button-state-layer-size: 32px;

    &.hidden-mobile {
      @media (max-width: 768px) {
        display: none;
      }
    }

    ::ng-deep .mat-mdc-form-field-subscript-wrapper {
      display: none;
    }
  }

  .user-avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-left: 16px;
    background-color: var(--mat-sys-primary);
    color: #fff;

    // mock styling
    .mdc-button__label {
      padding: 0;
      line-height: 40px;
    }
  }
}

.content-wrapper {
  padding: 32px;

  @media (max-width: 768px) {
    padding: 16px;
  }

  @media (max-width: 360px) {
    padding: 12px 8px;
  }
}

.notifcation-icon {
  --mat-icon-button-touch-target-size: 40px
}