<div class="dashboard-container">
  @if (statistics.isLoading()) {
  <app-spinner />
  }
  @else if (statistics.value(); as stats) {
  <div class="stats-grid">
    @for (stat of stats; track stat.id) {
    <app-stat-card [stat]="stat"></app-stat-card>
    }
  </div>
  }
  @else {
  <no-data />
  }

  @if (tasks.isLoading()) {
  <app-spinner />
  } @else if (tasks.value(); as tasksList) {
    <div class="dashboard-grid">
      <div class="main-content">
        <app-dashboard-toolbar (statusChange)="selectedStatus.set($event)" (priorityChange)="selectedPriority.set($event)"
          (assigneeChange)="selectedAssignees.set($event)"></app-dashboard-toolbar>
        <app-task-board [tasks]="tasksList" [selectedStatus]="selectedStatus()" [selectedPriority]="selectedPriority()"
          [selectedAssignees]="selectedAssignees()" [searchTerm]="searchService.searchTerm()"
          (taskMoved)="onTaskMoved($event)" (edit)="onEditTask($event)" (delete)="onDeleteTask($event)"></app-task-board>
      </div>
      <div class="side-panel">
        <app-recent-activity [tasks]="tasksList"></app-recent-activity>
      </div>
    </div>
  } @else {
  <no-data />
  }
</div>