<div class="dashboard-container">
  @if (statistics.isLoading()) {
  <app-spinner />
  }
  @else if (statistics.value(); as stats) {
  <div class="stats-grid">
    @for (stat of stats.data; track stat.id) {
    <app-stat-card [stat]="stat"></app-stat-card>
    }
  </div>
  }
  @else {
  <no-data />
  }

  @if (tasks.isLoading()) {
  <app-spinner />
  } @else if (tasks.value(); as tasksList) {
  <app-dashboard-toolbar (statusChange)="selectedStatus.set($event)" (priorityChange)="selectedPriority.set($event)"
    (assigneeChange)="selectedAssignees.set($event)"></app-dashboard-toolbar>
  <app-task-board [tasks]="tasksList" [selectedStatus]="selectedStatus()" [selectedPriority]="selectedPriority()"
    [selectedAssignees]="selectedAssignees()"></app-task-board>
  } @else {
  <no-data />
  }
</div>